.add-image-form, .alert {
    margin-left: var(--pf-global--spacer--md);
    margin-right: var(--pf-global--spacer--md);
    margin-bottom: var(--pf-global--spacer--md);
}

.breadcrumb {
    margin-left: var(--pf-global--spacer--md);
    margin-right: var(--pf-global--spacer--md);
    margin-top: var(--pf-global--spacer--md);
}
